<!--resources/templates/thymeleafEx.html-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" th:href="@{/CSS/trnscView.css}">

  <title>거래내역</title>
</head>
<body>
 <div id="div_body">
    <br>
    <header id="pageHeader">Header

      <label th:text="${title}"></label> 
      <a href="/com/comView">공통</a>

    </header>
    <article id="mainArticle">
      <div class="div_search">검색
        <input type="text">
      </div>
      <br>
      Article
      <div>

        <div class="grid-container" >
          <div class="grid-item">1</div>
          <div class="grid-item">2</div>
          <div class="grid-item">3</div>
          <div class="grid-item">4</div>
          <div class="grid-item">5</div>
          <div class="grid-item">6</div>
          <div class="grid-item">7</div>
          <div class="grid-item">8</div>
          <div class="grid-item">9</div>
        </div>

      </div>
    </article>
    <!-- <nav id="mainNav">Nav</nav>
    <div id="siteAds">Ads</div>
    <footer id="pageFooter">Footer</footer> -->
  </div>
</body>
</html>
