/* 모달 스타일 */
.modal-background {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modal-content {
    background: white;
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .modal-header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .modal-body {
    margin-bottom: 20px;
  }

  .modal-footer {
    display: flex;
    justify-content: flex-end;
  }

  .modal-footer button {
    padding: 8px 16px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .modal-footer button:hover {
    background-color: #ddd;
  }

  .close-btn {
    background-color: #e74c3c;
    color: white;
  }

  .close-btn:hover {
    background-color: #c0392b;
  }

  .confirm-btn {
    background-color: #3498db;
    color: white;
  }

  .confirm-btn:hover {
    background-color: #2980b9;
  }



body {
    padding: 25px;
}

.container {
    max-width: 900px;
    width: 100%;
    background-color: #fff;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

._table {
    width: 100%;
    border-collapse: collapse;
}

._table :is(th, td) {/*:is 반복 줄임*/
    border: 1px solid #0002;
    padding: 8px 10px;
}

.form_control {
    border: 1px solid #0002;
    background-color: transparent;
    outline: none;
    padding: 8px 12px;
    font-family: 1.2rem;
    width: 100%;
    color: #333;
    transition: 0.3s ease-in-out;
}

.form_control::placeholder {
    color: inherit;
    opacity: 0.4;
}

.form_control:is(:focus, :hover) {
    box-shadow: inset 0 1px 6px #0002;
}

.success {
    background-color: #24b96f !important;
}

.danger {
    background-color: #ff5722 !important;
}


.btn_save {
  background-color: #fc009b !important;
}

.action_container {
    display: inline-flex;
}

.action_container>* {
    border: none;
    outline: none;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 8px 14px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.action_container>*+* {
    border-left: 1px solid #fff5;
}

.action_container>*:hover {
    border-color: transparent;
    box-shadow: 0 2px 10px #0004;
    border-radius: 2px;
}